* {
    box-sizing: border-box;
}

body {
    background-color: #f9f5e9;
    margin: auto;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
button {
    color: red;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
}

button:hover {
    background-color: lightgrey;
}

.home-image {
    width: 450px;
    mix-blend-mode: darken;
}

#content {
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
}
.homeText {
    width: 400px;
    text-align: center;
}
.homeHeader {
    font-size: 62px;
    font-weight: 600;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 400px;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}

.product-image {
    width: 200px;
    border-radius: 20px;
}

.about-container {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}


.about-container img {
    width: 400px;
    margin: 10px;
}

.about-container p {
    text-align: justify;
    padding: 20px;
}