body {
    background-color: #f9f5e9;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
button {
    color: red;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}

button:hover {
    background-color: lightgrey;
}

.home-image {
    width: 450px;
    mix-blend-mode: darken;
}

#content {
    display: flex;
    flex-direction: column;
    align-items:  center;
}
.homeText {
    width: 400px;
    text-align: center;
}
.homeHeader {
    font-size: 62px;
    font-weight: 600;
    text-align: center;
}

